.skills-content {
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: repeat(6, 115px);
	gap: 25px 25px;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	padding: 50px;
}

.skill {
	padding: 15px;
	width: 115px;
	height: 115px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 17px;
	transition: 0.4s ease-in-out;
	box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
		rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
	border-radius: 20px;

	&:hover {
		transition: 0.5s ease-in-out;
		cursor: auto !important;
		transform: scale(1.1);
		box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
			rgba(17, 17, 26, 0.1) 0px 16px 56px,
			rgba(17, 17, 26, 0.1) 0px 24px 80px;
	}

	.skill-logo {
		width: 100%;
		height: 75%;

		&:hover {
			cursor: auto !important;
		}
	}
}

@media only screen and (max-width: 1075px) {
	.skills-content {
		grid-template-columns: repeat(4, 115px);
		width: auto;
	}
}

@media only screen and (max-width: 818px) {
	.skills-content {
		grid-template-columns: repeat(4, 90px);
		width: auto;

		.skill {
			width: 90px;
			height: 90px;
		}
	}
}

@media only screen and (max-width: 675px) {
	.skills-content {
		grid-template-columns: repeat(2, 120px);

		.skill {
			width: 120px;
			height: 120px;
		}
	}
}
