* {
	font-family: "Poppins", sans-serif;
}

body {
	height: 100%;
	background-color: #f7f7f7;
	padding: 0;
	margin: 0;
	color: #333;
}

html,
body {
	max-width: 100%;
	overflow-x: hidden !important;
}

svg:hover {
	cursor: pointer;
}

.btn-primary {
	background-color: #6665dd;
	color: white;
}

.btn-primary:hover {
	background-color: #5b5ac6;
	color: white;
	transition: 0.3s ease-in-out;
}

.btn-primary:focus {
	background-color: #6665dd;
	color: white;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	cursor: pointer;
	color: white;
}

.color-p {
	color: #6665dd;
}

.color-s {
	color: #5b5ac6;
}

.bg-p {
	background-color: #6665dd;
}

.bg-s {
	background-color: #5b5ac6;
}

.bg-s-alt {
	background-color: #5150b0;
}

.main-section {
	height: auto;
	display: flex;
	flex-direction: column;
	gap: 35px;
	padding: 0 100px 0 100px;
	margin-bottom: 200px;
}

.section-header {
	height: 20%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.section-header h1 {
	font-size: 1.7rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 2px;
}
.section-header small {
	font-size: 11px;
	text-transform: uppercase;
	color: #5f7080;
	letter-spacing: 1px;
}

@media only screen and (max-width: 675px) {
	.main-section {
		padding: 0 30px 0 30px;
		margin-bottom: 150px;
	}
}

.form-control:focus {
	border-color: #5b5ac6 !important;
	box-shadow: 0 0 0 0.2rem rgba(102, 101, 221, 0.25);
}
